#scene {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: transform 0.1s ease-out;
    -moz-transition: transform 0.1s ease-out;
    -o-transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mountain {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    transition: transform 0.1s ease-out;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.text-overlay {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 3;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }

  span {
    color: #169880;
  }

  p {
    font-size: 1.2rem;
    margin: 10px 0;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  }

  a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
}

.text-button {
  color: #169880;
  border: 1px solid #169880;
  background-color: #000000;
  padding: 1px;
  border-radius: 10px;
  width: 80%;
  font-size: 13px;
  font-weight: 400;
}

#santa {
  position: absolute;
  width: 500px;
  height: auto;
  z-index: 3;
  animation: fly 4s ease-in-out forwards;
}

@keyframes fly {
  0% {
    transform: translate(calc(320% - 400px), calc(320% - 400px)) scale(1);
  }
  100% {
    transform: translate(calc(150% - 220px), calc(150% - 220px)) scale(1);
  }
}

// @media (max-width: 1024px) {
//   #santa {
//     display: none;
//   }
// }

@media (max-width: 769px) {
  @keyframes fly {
    0% {
      transform: translate(calc(30% - 60px), calc(30% - 370px)) scale(1);
    }
    100% {
      transform: translate(calc(15% - 20px), calc(10% - 380px)) scale(1);
    }
  }

  #santa {
    position: absolute;
    max-width: 450px;
    bottom: 0;
    right: 5%;
    animation: fly 5s ease-in-out forwards;
  }

  .text-overlay {
    top: 32%;
    left: 23%;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      margin: 10px 0;
    }

    a {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 426px) {
  @keyframes fly {
    0% {
      transform: translate(calc(30% - 30px), calc(30% - 200px)) scale(1);
    }
    100% {
      transform: translate(calc(15% - 20px), calc(10% - 220px)) scale(1);
    }
  }

  #santa {
    position: absolute;
    max-width: 270px;
    bottom: 0;
    right: 5%;
    animation: fly 5s ease-in-out forwards;
  }

  .text-overlay {
    top: 25%;
    left: 18%;

    h1 {
      font-size: 1.2rem;
      margin-left: 30px;
    }

    p {
      font-size: 0.8rem;
      margin: 25px 0;
      margin-left: 30px;
    }

    a {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 376px) {
  @keyframes fly {
    0% {
      transform: translate(calc(30% - 30px), calc(30% - 200px)) scale(1);
    }
    100% {
      transform: translate(calc(25% - 20px), calc(25% - 210px)) scale(1);
    }
  }

  #santa {
    position: absolute;
    max-width: 260px;
    bottom: 0;
    right: 5%;
    animation: fly 5s ease-in-out forwards;
  }

  .text-overlay {
    h1 {
      font-size: 1rem;
      margin-left: 30px;
    }

    p {
      font-size: 0.8rem;
      margin: 20px 0;
      margin-left: 33px;
    }

    a {
      font-size: 0.7rem;
      margin-left: 30px;
    }
  }
}

@media (max-width: 321px) {
  @keyframes fly {
    0% {
      transform: translate(calc(30% - 30px), calc(30% - 200px)) scale(1);
    }
    100% {
      transform: translate(calc(25% - 20px), calc(25% - 210px)) scale(1);
    }
  }

  #santa {
    position: absolute;
    max-width: 180px;
    bottom: 0;
    right: 5%;
    animation: fly 5s ease-in-out forwards;
  }

  .text-overlay {
    top: 20%;
    left: 15%;

    h1 {
      font-size: 1rem;
      margin-left: 50px;
    }

    p {
      margin: 30px 50px;
      width: 50%;
      margin-left: 90px;
    }

    a {
      margin-left: 40px;
    }
  }
}

// @media (max-width: 768px) {
//   .text-overlay {
//     top: 10%;
//     left: 23%;
//   }
// }

// @media (max-width: 425px) {
//   .text-overlay {
//     top: 10%;
//     left: 35%;

//     h1 {
//       font-size: 2rem;
//     }
//   }
// }

// @media (max-width: 375px) {
//   .text-overlay {
//     h1 {
//       font-size: 1.6rem;
//     }
//   }
// }

// @media (max-width: 320px) {
//   .text-overlay {
//     p {
//       margin: 30px 50px;
//       width: 50%;
//       margin-left: 90px;
//     }
//   }
// }
